#!/usr/bin/make -f
export QT_SELECT=5
export DEB_BUILD_MAINT_OPTIONS = hardening=-all

%:
	dh $@

override_dh_usrlocal:

override_dh_auto_install:
	dh_auto_install --destdir=$(CURDIR)/debian/ukui-settings-daemon

override_dh_shlibdeps:
--dpkg-shlibdeps-params=--ignore-missing-info
