[Desktop Entry]
Type=Application
Name=UKUI Settings Daemon
Name[am]=የ ሜት ማሰናጃ ረዳት
Name[ar]=محثّ إعدادات متّة
Name[as]=UKUI Settings ডেমন
Name[ast]=Degorriu d'axustes de UKUI
Name[be]=Дэман настáўленняў UKUI
Name[bg]=Сървър за настройките на UKUI
Name[bn]=UKUI Settings ডেমন
Name[bn_IN]=UKUI Settings ডেমন
Name[ca]=Dimoni dels ajusts de UKUI
Name[ca@valencia]=Dimoni de paràmetres del UKUI
Name[cmn]=UKUI 設定值守護程式
Name[crh]=UKUI Ayarları Cını
Name[cs]=Démon nastavení UKUI
Name[da]=UKUI-indstillingsdæmon
Name[de]=UKUI-Einstellungsdienst
Name[el]=Δαίμονας ρυθμίσεων UKUI
Name[en_AU]=UKUI Settings Daemon
Name[en_GB]=UKUI Settings Daemon
Name[es]=Administrador de preferencias de UKUI
Name[et]=UKUI sätetedeemon
Name[eu]=UKUIren ezarpenen daemon-a
Name[fi]=Maten asetuspalvelin
Name[fr]=Service des paramètres UKUI
Name[ga]=Deamhan Socruithe UKUI
Name[gl]=Servizo de configuracións do UKUI
Name[gu]=UKUI સુયોજનો ડેઇમન
Name[he]=מנוע ההגדרות של UKUI
Name[hi]=गनोम सेटिंग डेमॉन
Name[hu]=UKUI beállításdémon
Name[hy]=UKUI Կարգաբերման պարամետրերի օժանդակ ծրագիր
Name[id]=Daemon Penataan UKUI
Name[it]=Demone di impostazioni per UKUI
Name[ja]=UKUI 設定デーモン
Name[kn]=UKUI ಸಂಯೋಜನೆಗಳ ಡೀಮನ್(Daemon)
Name[ko]=마테 설정 데몬
Name[lt]=UKUI nustatymų tarnyba
Name[lv]=UKUI iestatījumu dēmons
Name[mk]=Демонот за поставувања на UKUI
Name[ml]=ഗ്നോമിലെ സജ്ജീകരണങ്ങളുടെ നിരന്തരപ്രവൃത്തി
Name[mr]=UKUI संयोजना डीमन
Name[ms]=Daemon Tetapan UKUI
Name[nb]=UKUI oppsettstjenestenisse
Name[nl]=Mate-instellingenvoorziening
Name[nn]=UKUI innstillingsnisse
Name[or]=UKUI ବିନ୍ୟାସ ଡେମନ
Name[pa]=ਗਨੋਮ ਸੈਟਿੰਗ ਡੈਮਨ
Name[pl]=Usługa ustawień środowiska UKUI
Name[pt]=Servidor de Definições UKUI
Name[pt_BR]=Daemon de configurações do UKUI
Name[ro]=Serviciul de configurări UKUI
Name[ru]=Демон параметров UKUI
Name[sk]=Démon nastavení UKUI
Name[sl]=Ozadnji program nastavitev UKUI
Name[sr]=Мејтов услужник подешавања
Name[sr@latin]=Uslužni program za podešavanje Gnoma
Name[sv]=UKUI-inställningsdemon
Name[ta]=UKUI அமைவுகள் கிங்கரன்
Name[te]=UKUI అమర్పుల డెమోన్
Name[th]=ดีมอนค่าตั้ง UKUI
Name[tr]=UKUI Ayarlar Servisi
Name[uk]=Служба параметрів UKUI
Name[ur]=میٹ ترتیبات ڈیمن
Name[vi]=Trình nền Thiết lập UKUI
Name[zh_CN]=UKUI 设置守护程序
Name[zh_HK]=UKUI 設定值伺服程式
Name[zh_TW]=UKUI 設定值守護程式
Exec=/usr/bin/ukui-settings-daemon
OnlyShowIn=UKUI;
X-UKUI-Autostart-Phase=Initialization
X-UKUI-Autostart-Notify=false
X-UKUI-AutoRestart=true
